<html>
    <head>
        <title>
            Heapkeeper - {% block title %}{% endblock %}
        </title>
        <style>
            div.message { padding-left: 3em; }
        </style>
    </head>
    <body>
        <div class="topbar">
            {% if user.is_authenticated %}
                {{ user.username }} | <a href="{% url logout %}">Log out</a>
            {% else %}
                <a href="{% url login %}">Log in</a> | 
                <a href="{% url register %}">Register</a>
            {% endif %}
        </div>

        <h1>
            {% block header %}{% endblock %}
        </h1>

        {% block body %}{% endblock %}
    </body>
<html>
