<html>
    <head>
        <title>
            Heapkeeper
        </title>
        <style>
            div.message { padding-left: 3em; }
        </style>
    </head>
    <body>
        <h1>
           Edit message {{ msg_id }}
        </h1>

        {% if error_message %}
        <p>
            <strong>
                {{ error_message }}
            </strong>
        </p>
        {% endif %}

        <form action="/editmessage/{{ msg_id }}/" method="post">
        {% csrf_token %}
            <label for="author">Author ID</label>
            <input type="input" name="author" value="{{ lv.author.id }}" />
            <br />
            <label for="parent">Parent ID</label>
            <input type="input" name="parent" value="{{ lv.parent.id }}" />
            <br />
            <label for="creation_date">Message date</label>
            <input type="input" name="creation_date" value="{{ cd }}" />
            <br />
            <label for="text">Message text</label>
            <br />
            <textarea name="text">{{ lv.text }}</textarea>
            <br />
            <input type="submit" value="Save message" />
        </form>
    </body>
<html>
