{% extends "base.html" %}
{% block title %}
{{ heap.long_name }}
{% endblock %}
{% block header %}
{{ heap.long_name }}
{% endblock %}
{% block body %}
        <ul>
        {% for conv in convs %}
            <li>
                <a href="{% url hk.views.conversation conv.id %}">
                    {{ conv.subject }}
                </a>
            </li>
        {% endfor %}
        </ul>
        <a href="{% url hk.views.addconv %}">
            Start new conversation
        </a>
{% endblock %}
